*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        background-image: url(images/hakkımızda-arka-plan2.jpg);
        background-size: cover;
       
       
}



/*header bölümü*/
header > nav > a > img{
     
    width: 10rem;
    height:4rem;


}

.up{
   position: fixed;
   display: flex;
   justify-content: space-around;
   
   margin: 1rem 1rem 1rem 0rem;
}

.up > ul > li > a,
.up > a{

    color: rgb(70, 59, 59);
    text-decoration: none;
    text-transform: uppercase;    
}


.up > ul{
     list-style: none;
     display: flex;
     gap: 15rem;
    
}
a.button {
   display:block;
   float:left;
   margin: 5px;
   color:rgb(238, 17, 17);
   text-align:center;
   font-size:15px;
   cursor: pointer;
   text-decoration: none;
   padding:10px;
   border: 1px solid rgba(0,0,0,0.4);
   border-bottom: 3px solid rgba(0,0,0,0.5);
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   box-shadow: 0 2px 8px rgba(240, 146, 146, 1), /* dış gölge */
     inset 0 1px rgba(241, 237, 237, 1), /* Top light Line */
     inset 0 10px rgba(233, 142, 142, 1), /* Top Light Shadow */
     inset 0 10px 20px rgba(212, 136, 136, 1), /* Sides Light Shadow */
     inset 0 -15px 30px rgba(195, 214, 22, 1); /* Dark Background */
   -webkit-box-shadow: 0 2px 8px rgba(240, 146, 146, 1),
     inset 0 1px rgba(241, 237, 237, 1),
     inset 0 10px rgba(233, 142, 142, 1),
     inset 0 10px 20px rgba(212, 136, 136, 1),
     inset 0 -15px 30px rgba(240, 146, 146, 1);
   -moz-box-shadow: 0 2px 8px rgba(240, 146, 146, 1),
     inset 0 1px rgba(241, 237, 237, 1),
     inset 0 10px rgba(233, 142, 142, 1),
     inset 0 10px 20px rgba(212, 136, 136, 1),
     inset 0 -15px 30px rgba(240, 146, 146, 1);
 }
 
 a.button:hover {
   opacity: 0.7;
   filter: alpha(opacity=70);
   -moz-opacity:0.7;
   -khtml-opacity: 0.7;
 }

/*----------------------*/
.down{
   position: fixed;
   display: flex;
   justify-content: space-around;
   margin: 6rem 0rem 6rem 0rem;
   
}

.down > ul > li > a ,
.down > a{
   color: rgb(223, 142, 142);
   text-decoration: none;
   text-transform: uppercase;
     

}

.down > ul{
  list-style: none;
  display: flex;
  gap:3rem;

}

/*main bölümü*/


/*footer bölümü*/

footer{
    position: fixed;
    width: 100%;
    flex-direction:column;
}



footer > article{
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;

}
footer > article > p{
  color: rgb(221, 126, 126);

}

footer > article > a > img{
   width: 150px;
   height: auto;
}